<!-- breadcrumbs -->
<div class="row bcbreadcrumb">
	<div class="col s1"></div>
	<div class="col s10">
	   	<h5><a href="/progression" class="valign-wrapper">
	   		<i class="material-icons">arrow_back</i>
	   		My Progressions
		</a></h5>
	</div>
	<div class="col s1"></div>
</div>


<!-- Form -->
<div class="row">
	<div class="col s1"></div>
	<div class="col s6 z-depth-1">
		<form class="col s12">
    	<header class="row valign-wrapper">
    		<h5 class="col s10">Edit Chord Progression</h5>
    		<a class="col s2 waves-effect waves-light btn" href="/progression">Save</a>
    	</header>
      	<div class="row">
      	  	<div class="input-field col s12">
      	  	  	<input placeholder="Add name here" id="progressionName" type="text" class="validate" required>
      	  	  	<label for="progressionName">Progression Name</label>
      	  	</div>
        </div>
      	<div class="row">
      		<div class="input-field col s4">
   		 		<select>
   		 		  	<option value="4/4" selected>4/4</option>
   		 		</select>
    			<label>Time Signature</label>
      	  	</div>        
       	  	<div class="input-field col s4">
   		 		<select>
   		 		  	<option value="C Maj" selected>C Maj</option>
   		 		</select>
    			<label>Key Signature</label>
      	  	</div>
      	  	<div class="input-field col s4">
   		 		<select>
   		 		  	<option value="1" selected>1</option>
   		 		</select>
    			<label>Total Measures</label>
      	  	</div>
      	</div>
      	<div class="row">
      	  	<div class="input-field col s12">
      	  	  	<textarea placeholder="Add Description Here" id="progDesc" class="materialize-textarea"></textarea>
      	  	  	<label for="progDesc">Progression Description</label>
      	  	</div>
      	</div>
    </form>
	</div>
	<div class="col s1"></div>
	<div class="col s3 z-depth-1">
		<div class="row">
			<div class="col s12">
				<header class="row center-align">
    				<h5><button data-target="addProgressionSegment" class="btn modal-trigger">Add Segment
    				<i class="material-icons right">add</i>
    				</button></h5>
    			</header>
				<ul class="collection">
                <%if(segments.length>0){%>
                <%segments.forEach(function(segment){%>
              <li class="collection-item">
                <div>Sequence: <%=segment.sequence%></div>
                <div>Chord: <%=segment.harmName%></div>
                <div>Scale: <%=segment.melName%></div>
                <a href="#">Delete</a>
              </li>  
                <%});%>
                <%}%>
    			</ul>
			</div>
		</div>
	</div>
	<div class="col s1"></div>
</div>


<!-- Modal - Add Journal Item -->
<div id="addProgressionSegment" class="modal modal-fixed-footer">
  	<div class="row"></div>
		<div class="row">
		    <form class="col s12" action="/progression/addProgressionSegment" method="POST">
		    	<input id="userId" name="userId" type="hidden" value="<%=currentUser.dataValues.id%>">
          <input id="progressionId" name="progressionId" type="hidden" value="<%=progressionId%>">
          <header class="row">
		    		<h5>Chord Progression Segment</h5>
		    		<button class="modal-action modal-close btn-flat right" type="submit">Add Segment</button>
		    	</header>
		      	<div class="row">
		      	  	<div class="col s3">
		   		 		<select name="harmElement">
		   		 			<option value="" disabled selected>Chord</option>
   		 				  	<%harmElems.forEach(function(harmElem){%>
                    <option value="<%=harmElem.dataValues.id %>">
                      <%=harmElem.dataValues.name %></option>
                  <%});%>
   		 				</select>
    					<label>Harmony Element</label>
		      	  	</div>
		      	  	<div class="col s3">
		   		 		<select name="melElement">
		   		 			<option value="" disabled selected>Scale/Arpeggio</option>
   		 				  	<%melElems.forEach(function(melElem){%>
                    <option value="<%=melElem.dataValues.id %>">
                      <%=melElem.dataValues.name %></option>
                  <%});%>
   		 				</select>
    					<label>Melody Element</label>
		      	  	</div>
                <div class="col s3">
              <select name="sequence">
                <option value="" disabled selected>Sequence</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
              </select>
              <label>Sequence</label>
                </div>
		      	</div>
		    </form>
		</div>
</div>
<div class="divider"></div>

<!-- Needed for Vexflow below -->
<script src="https://unpkg.com/vexflow/releases/vexflow-min.js"></script>
<div class="row">
  <div class="col s1"></div>
  <div class="col s10">
    <div class="col s12"><h5>Chord Progression Preview</h5></div>
    
    <%segments.forEach(function(segment){%>
    <div id="<%=segment.harmName%><%=segment.melName%><%=segment.sequence%>"></div>
    <script>
      var vf = new Vex.Flow.Factory({
        renderer: {
          elementId: '<%=segment.harmName%><%=segment.melName%><%=segment.sequence%>', 
          height: 270
        }
      });
      var score = vf.EasyScore();
      var system = vf.System();
      var harmElemId = <%=segment.harmonicElementId%>;

      system.addStave({
        voices: [score.voice(score.notes('<%=segment.harmEasyScore%>'))]
      }).addClef('treble').addTimeSignature('4/4');
    
      system.addStave({
        voices: [score.voice(
          score.beam(score.notes('<%=segment.melFirstFour%>', {stem: 'up'}))
          .concat(score.beam(score.notes('<%=segment.melSecondFour%>', {stem: 'down'})))
        )]
      }).addClef('treble').addTimeSignature('4/4');
      
      system.addConnector()
      
      vf.draw();
    
    </script>
    <%});%>

  </div>
  <div class="col s1"></div>
</div>
	















<!-- 
  goodidea -->




