<!-- breadcrumbs -->
<div class="row bcbreadcrumb">
	<div class="col s1"></div>
	<div class="col s10">
	   	<h5><a href="/journal" class="valign-wrapper">
	   		<i class="material-icons">arrow_back</i>
	   		My Journals
		</a></h5>
	</div>
	<div class="col s1"></div>
</div>

<!-- Main journal entry item form -->
<div class="row">
	<div class="col s1"></div>
    <form class="col s10  z-depth-1" method="POST" action="/journal/editJournal">
    	<input id="userId" name="userId" type="hidden" value="<%=currentUser.dataValues.id%>">
    	<input id="sessionLogId" name="sessionLogId" type="hidden" value="<%=sessionLog.dataValues.id%>">
    	<header class="row valign-wrapper">
    		<h5 class="col s10">Edit Journal Entry</h5>
    		<button id="saveSessionLog"  type="submit" class="btn">Save</button>
    	</header>
      	<div class="row">
      	  	<div class="input-field col s6">
      	  	  	<input name="journalEntryTitle" placeholder="Add title here" id="journalEntryTitle" type="text" class="validate" value="<%=sessionLog.dataValues.title%>" required>
      	  	  	<label for="journalEntryTitle">Journal Entry Title</label>
      	  	</div>
      	  	<div class="input-field col s3">
   		 		<select name="journalEntryStatus">
   		 		  	<option value="open" selected>Open</option>
   		 		  	<option value="closed">Closed</option>
   		 		</select>
    			<label>Journal Entry Status</label>
      	  	</div>       
      	  	<div class="input-field col s3">
      	  	  	<input name="journalEntryDate" id="journalEntryDate" type="text" class="datepicker" value="<%=sessionDate%>" required>
      	  	  	<label for="journalEntryDate">Date</label>
      	  	</div>
      	</div>
      	<div class="row">
      	  	<div class="input-field col s12">
      	  	  	<textarea name="journalEntryNotes" placeholder="Add notes here" 
      	  	  	id="journalNotes" class="materialize-textarea"><%=sessionLog.dataValues.notes%></textarea>
      	  	  	<label for="journalNotes">Journal Entry Notes</label>
      	  	</div>
      	</div>
      	<div class="row">
    		<button data-target="addJournalItem"  class="btn modal-trigger">Add Item
    			<i class="material-icons right">add</i>
    		</button>
    	</div>
    </form>
    <div class="col s1"></div>
</div>
<!-- End main journal entry form -->


<!-- load journal items -->
<div class="row">
	<div class="col s1"></div>
		<div class="col s10">
			<ul class="collapsible popout" data-collapsible="accordion">
			  	<li>
			  		<!-- This is the header -->
			  	  <div class="collapsible-header">
			  	  	<div class="row col s12 buHeader">
			  	  		<div class="col s5">Title</div>
			  	  		<div class="col s4">Activity</div>
			  	  		<div class="col s3">Time</div>
						  </div>
			  	  </div>
			  	</li>
			  	<!-- Generates list of session items for this session -->
			  	<%sessionList.forEach(function(session){%>
			  		<li>
			  	  		<div class="collapsible-header">
			  	  			<div class="col s12">
			  	  				<div class="col s5"><%=session.title %></div>
			  	  				<div class="col s4"><%=session.activityType %></div>
			  	  				<div class="col s3"><%=session.time %></div>
			  	  			</div>

			  	  		</div>
			  	  		<div class="collapsible-body">
			  	  			<p>Link: <a href="<%=session.link %>" target="_blank"><%=session.link %></a></p>
			  	  			<p>Notes: <%=session.notes %></p>

<!-- ERRR....this is where the chord progression gets rendered...suspending nesting-->
<%if(session.chordProgression!==null){%>
  	<script src="https://unpkg.com/vexflow/releases/vexflow-min.js"></script>
  	<%session.chordProgression.chordProgSegments.forEach(function(segment){%>
  		<div id="<%=segment.harmName%><%=segment.sequence%><%=session.id%>" >
  		</div>
  		<script>

    		var vf = new Vex.Flow.Factory({
    		  renderer: {
    		    elementId: '<%=segment.harmName%><%=segment.sequence%><%=session.id%>', 
    		    height: 270
    		  }
    		});
    		var score = vf.EasyScore();
    		var system = vf.System();
    		var harmElemId = <%=segment.harmonicElementId%>;

    		system.addStave({
    		 voices: [score.voice(score.notes('<%=segment.harmEasyScore%>'))]
    		}).addClef('treble').addTimeSignature('4/4');
    
    		system.addStave({
    		  voices: [score.voice(
    		    score.beam(score.notes('<%=segment.melFirstFour%>', {stem: 'up'}))
    		    .concat(score.beam(score.notes('<%=segment.melSecondFour%>', {stem: 'down'})))
    		  )]
    		}).addClef('treble').addTimeSignature('4/4');
      
    		system.addConnector()
    
    		vf.draw();
    
  		</script>
	<%});%>
<%}%>
		  	  			
<!-- End crazy music thing and resume nesting (see you're fine)-->
			  	  		</div>
			  		</li>
			  	<%});%>
			  	<!-- End loop creating list items -->
			</ul>
		</div>
	<div class="col s1"></div>
</div>
<!-- End Load Journal Items -->


<!-- Modal - Add Journal Item -->
<div id="addJournalItem" class="modal modal-fixed-footer">
	<div class="row">
	    <form class="col s12" action="/journal/addJournalItem" method="POST">
	    	<header class="row">
	    		<h5>Item Description</h5>
	    		<button type="submit" class="modal-action modal-close btn-flat right" 
	    		>Add Item</button>
	    	</header>
	    	<input id="mSessionLogId" name="sessionLogId" type="hidden" value="<%=sessionLogId%>">
	      	<div class="row">
	      	  	<div class="input-field col s8">
	      	  	  	<input name="jiTitle" placeholder="Add title here" 
	      	  	  	id="jiTitle" type="text" class="validate" required>
	      	  	  	<label for="jiTitle">Title</label>
	      	  	</div>
	      	  	<div class="input-field col s4">
	      	  	  	<input name="jiLink" placeholder="Add link here" 
	      	  	  	id="jiLink" type="text" class="validate">
	      	  	  	<label for="jiLink">Related Link</label>
	      	  	</div>
	      	</div>
	      	<div class="row">
	      	  	<div class="input-field col s12">
	      	  	  	<textarea name="jiNotes" placeholder="Add notes here" 
	      	  	  	id="jiNotes" class="materialize-textarea"></textarea>
	      	  	  	<label for="jiNotes">Notes</label>
	      	  	</div>
	      	</div>
	      	<div class="divider"></div>
	      	<header class="row">
	    		<h5>Details</h5>
	    	</header>
	      	<div class="row">
	      	  	<div class="col s6">
	   		 		<select name="activityType" required>
	   		 			<option value="" disabled selected>Select Activity</option>
   	 				  	<option value="Scales">Scales</option>
   	 				  	<%activities.forEach(function(activity){%>
   	 				  		<option value="<%=activity.dataValues.id%>">
   	 				  			<%=activity.dataValues.activityName%>
   	 				  		</option>
   	 				  	<%});%>
   	 				</select>
    				<label>Activity Type</label>
	      	  	</div>
	      	  	<div class="col s3">
	   		 		<select name="time" required>
	   		 			<option value="" disabled selected>Select Time</option>
   	 				  	<option value="05">5 min</option>
   	 				  	<option value="10">10 min</option>
   	 				  	<option value="15">15 min</option>
   	 				  	<option value="20">20 min</option>
   	 				  	<option value="30">30 min</option>
   	 				  	<option value="40">40 min</option>
   	 				  	<option value="45">45 min</option>
   	 				  	<option value="60">60 min</option>
   	 				</select>
    				<label>Time</label>
	      	  	</div>
	      	</div>
	      	<div class="row">
	      	  	<div class="col s6">
	   		 		<select name="goalId">
	   		 			<!-- <option value="" disabled selected>Select Goal</option> -->
   	 				  	<option value="1">General Practice</option>
   	 				</select>
    				<label>Relate to Goal</label>
	      	  	</div>
	      	  	<div class="col s6">
	   		 		<select name="chordProgId">
	   		 			<option value="" disabled selected>Select Chord Progression</option>
   	 				  	<%chordProgs.forEach(function(chordProg){%>
   	 				  		<option value="<%=chordProg.dataValues.id%>">
   	 				  			<%=chordProg.dataValues.name%>
   	 				  		</option>
   	 				  	<%});%>
   	 				</select>
    				<label>Your Chord Progressions</label>
	      	  	</div>
	      	</div>
	    </form>
	</div>
</div>



<script>
  $('#saveSessionLog').on('click', function(e) {
    e.preventDefault();
    var updateUrl = $(this).parent().parent().attr('action');
    var formData = $(this).parent().parent().serialize();
    $.ajax({
      method: 'PUT',
      url: updateUrl,
      data: formData
    })
    .done(function(data) {
    	window.location.assign('/journal');;
    });
  });
</script>





















<!-- 
xtralinez -->
