<!-- breadcrumbs -->
<div class="row bcbreadcrumb">
	<div class="col s1"></div>
	<div class="col s10">
	   	<h5><a href="/journal" class="valign-wrapper">
	   		My Journals
		</a></h5>
	</div>
	<div class="col s1"></div>
</div>

<div class="row">
	<div class="col s1"></div>
	<div class="col s10">
		<form action="journal/createJournal" method="GET"> 
			<button class="btn  right" type="submit">
				Create Entry
			</button>
		</form>
	</div>
	<div class="col s1"></div>
</div>

<div class="row">
	<div class="col s1"></div>
	<div class="col s10">
		<ul class="collapsible" data-collapsible="expandable">
		  	<li>
		  		<div class="collapsible-header">
		  			<div class="row col s12 buHeader">
		  		  		<div class="col s2">Date</div>
		  		  		<div class="col s8">Title</div>
		  		  		<div class="col s2"></div>
		  		 	</div>
		  		</div>
		  	  	
		  	</li>

		  	<% for(var i=0; i<sessionList.length; i++){ %>
		  		<li>
		  		  	<div class="collapsible-header">
		  		  		<div class="row col s12">
		  		  			<div class="col s2"><%=sessionList[i].dataValues.date.getMonth()+1;%>/<%=sessionList[i].dataValues.date.getDate();%>/<%=sessionList[i].dataValues.date.getFullYear();%></div>
		  		  			<div class="col s8"><%=sessionList[i].dataValues.title%> </div>
		  		  			<div class="col s3 right">
		  		  				<a 
		  		  					href="/journal/editjournal?id=<%=sessionList[i].dataValues.id%>"
		  		  					class="col s6"
		  		  				>Edit</a>
		  		  				<a 
		  		  					href="/journal/deleteJournal?id=<%=sessionList[i].dataValues.id%>" 
		  		  					class="deleteJournalLink col s6" 
		  		  				>Delete</a>
		  		  				
		  		  			</div>
		  		  		</div>

		  		  	</div>
		  		  	<div class="collapsible-body">
		  		  		<span><div><%=sessionList[i].dataValues.notes%></div></span>
		  		  	</div>
		  		</li>
		  	<%}%>
		</ul>
	</div>
	<div class="col s1"></div>
</div>

<script>
  $('.deleteJournalLink').on('click', function(e) {
    e.preventDefault();
    var deleteUrl = $(this).attr('href');
    $.ajax({
      method: 'DELETE',
      url: deleteUrl,
    })
    .done(function(data) {
      window.location.assign('/journal');;
    });
  });
</script>





















<!-- blankspaceyo -->